.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
  height: 887px;
  width: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
}
