/*
  colors: 
  dark gray (background) #1f1f1f
  light gray (background) #f2f2f2
  blue (links, figures) #2f80ed
  black (text) #000000
*/

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Block styles */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  font-size: 20px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 0;
}

/* Logo Block styles*/

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 2;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

/* Description Block styles */

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 100px 0;
}

.description__two-columns {
  width: 80%;
}

/* Two-columns Block styles */

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

/* Digits Block styles */

.digits {
  margin: 0;
  padding: 0 0 100px;
}

.digits__section-title {
  width: 60%;
  margin: auto;
}

.digits__section-subtitle {
  width: 60%;
  margin: auto;
}

.digits__table {
  margin: 0 auto;
}

/* Section-title Block styles */
.section-title {
  text-align: center;
  line-height: 1.15;
  font-weight: bold;
  font-size: 60px;
}

.section-title_theme_dark {
  color: white;
}

/* Section-subtitle Block styles */

.section-subtitle {
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

/* Table Block styles */
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  max-width: 1100px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* Feynman Block styles */
.feynman {
  min-height: 790px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}

.feynman__title {
  max-width: 775px;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 395px;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  font-size: 38px;
}

/* Kaufman Block styles */

.kaufman {
  background-color: #1f1f1f;
  margin: 0;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kaufman__section-title {
  width: 60%;
  margin: auto;
}

.kaufman__section-subtitle {
  width: 60%;
  margin: 20px auto 0;
}

.kaufman__table {
  margin: 0 auto;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
  height: 887px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
}

/* Footer block styles */

.footer {
  background-color: #1f1f1f;
  color: white;
  width: 100%;
  margin: 0;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 45px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  font-size: 20px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}
